header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href=`/dashboard`) YC
            .col-9.text-end
                a.btn.btn-info(href=`/user/logout`) Đăng xuất
                span.badge.bg-success #{user.full_name}