.sider  
    .inner-menu     
        ul 
            li 
                a(href=`/dashboard`) Tổng quan
        
        ul 
            li 
                a(href=`/chat`) Chat
        ul 
            li 
                a(href=`/friends`) Bạn bè