mixin alert-success
    - if (messages.success)
        .messages.info
            div(
                class='alert alert-success'
                show-alert
                data-time=3000
            ) 
                i(class="fa-solid fa-check")
                span #{messages.success}
                div.timebar


mixin alert-fail
    - if (messages.error)
        .messages.info
            div(
                class='alert alert-error'
                show-alert
                data-time=5000
            ) 
                i(class="fa-solid fa-circle-exclamation")
                span #{messages.error}     
                div.timebar