extends ../../layouts/default.pug
include ../../mixins/friends-section.pug
include ../../mixins/alert.pug


    block main
        .friends
            +friends-section
            .users
                each user in users
                    .user
                        img.user-avatar(src=user.avatar alt=user.full_name)
                        .user-content
                            h5.user-name=user.full_name
                        .user-actions
                            button.btn Share
                            button.btn Learn More
    block script
        script(src="socket.io/socket.io.js")
        script(src="../js/socket.js")
        script(src="../js/friends.js")