extends ../../layouts/default.pug
include ../../mixins/friends-section.pug

    block main
        .container-fluid
            +friends-section
            .users-box
                .friend-section-title Lời mời kết bạn
                .users
                    each user in users
                        .user-card
                            img(
                                src=user.avatar 
                                alt=user.full_name
                            )
                            .info(id=user.id)
                                h3= user.full_name 
                                button.request-sent(
                                    disable
                                ) Đã gửi lời mời 
                                button.delete-request Thu hồi
                                button.request-deleted Đã thu hồi
    block script 
        script(src="../socket.io/socket.io.js")
        script(src="../../js/socket.js")
        script(src="../js/friends.js")
