extends ../../layouts/default.pug
include ../../mixins/friends-section.pug
include ../../mixins/alert.pug

    block main
        .container-fluid
            +friends-section
            .users-box
                    .friend-section-title Lời mời kết bạn
                    .users
                        if (infos.length > 0)
                            each profile in infos
                                .user-card
                                    img(
                                        src=profile.avatar 
                                        alt=profile.full_name
                                    )
                                    .info(id=profile.id)
                                        h3= profile.full_name 
                                        button.add-friend-accept Chấp nhận 
                                        button.add-friend-refuse Từ chối
                                        button.accepted Đã chấp nhập
                        else 
                            p Chưa có lời mời kết bạn

    block script 
        script(src="../socket.io/socket.io.js")
        script(src="../../js/socket.js")
        script(src="../js/friends.js")